@import url('https://fonts.googleapis.com/css?family=Lato');


html {  
	font-family: 'Lato';
	background-color: white;  
	color: white;
	background: url(../img/background.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.center {
	position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}